// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oscar {
  background-color:#F00;
  font-size:1.3em;
}

#b {
background-color: red;
}

.elpais:hover,.elpais:active{
background-color:#98bf21;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;


}

.lines:hover,b:active
{
background-color:#98bf21;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
}
