// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oscar {
  background-color:#F00;
  font-size:1.3em;
}



button.elpais
{
margin:10px;
}





//in this way we can change only one element of 1 hole class
div.ex
{
width:220px;
padding:10px;
border:5px solid gray;
margin:0px;
outline-style:groove;
outline-width:3px;
}


